
<%= link_to "Back to all articles", articles_path %>
<%= link_to "ADD new article", new_article_path %>


<h1><%=  @article.title %>

  <%= link_to(edit_article_path) do%>
  <i class="fa fa-pencil"></i>
  <% end %>

  <%= link_to(article_path, method: :delete) do%>
  <i class="fa fa-trash-o"></i>
  <% end %>
</h1>


<%= Kramdown::Document.new(@article.content).to_html.html_safe %>

<%= link_to "DELETE", article_path, method: :delete%>
